$purple: #532D6D;
$dark-purple: #2F1A45;
$light-purple: #856794;
$dark-yellow:  #BEA341;
$green: #43C6AC;
$selectedcolor: #fbf8f8;
$listborder: #bfd2cf;
$headercolor: white;
$darkgreen: #3CB19A;
$lightgreen: #68D1BC;
